/* .chat-box {
    display: flex;
    flex-direction: column;
    height: 100%;
} */

.chat-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.message-list {
    display: flex;
    flex-direction: column;
    padding: 20px;
    overflow-y: auto;
    flex: 1;
}

.chat-message {
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 10px;
    max-width: 80%;
}

.sent {
    align-self: flex-end;
    background-color: #DCF8C6;
}

.received {
    align-self: flex-start;
    background-color: #E5E5EA;
}




.input-container {
    display: flex;
    flex: 1;
}

.message-input {
    border-radius: 5px;
    flex: 1;
    padding: 5px;
    margin-right: 10px;
    outline: none;
}

.input-container button {
    padding: 10px 20px;
    margin-left: 10px;
    border: none;
    border-radius: 5px;
    background-color: #075E54;
    color: #fff;
    cursor: pointer;
    outline: none;
}

.input-container button:hover {
    background-color: #128C7E;
}





/* .chat-list {
    padding-top: 5px;
    flex-grow: 1;
    display: flex;
}*/
/* .chat-list:hover {
    background-color: #075E54;
    cursor: pointer
}  */


.hidden {
    display: none;
  }