
  /* Add Friend Container */
  .friend {
    display: flex;
    padding: 10px;
    position: relative; /* Konumu belirle */
  }
  
  /* Friend Photo */
  /* .left-side-friend-photo {
    width: 50px;
    height: 50px;
    background-color: #ddd;
    border-radius: 50%;
    margin-right: 10px;
    flex-shrink: 0;
  } */
  
  /* Chat Data Container (Name, Date, Message) */
 .data {
    flex-grow: 1;
  }
  
  /* Friend Name */
  .friend-name {
    font-weight: bold;
    font-size: 16px;
    flex-grow: 1;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 270px;
  }
  
  /* Last Message Date */
  .last-message-date {
    color: #888;
    font-size: 12px;
  }
  
  /* Friend Last Message */
  .friend-last-message {
    margin-top: 5px;
    color: #333;
  }
  
.friend {
    cursor: pointer;
}
.friend:hover {
    background-color: #ff0000; /* Örnek olarak kırmızı renk */
}







.hidden {
  display: none;
}