* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: white;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: white;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  gap: 20px;
}

.nav {
  display: flex;
  gap: 20px;
}

.nav a {
  text-decoration: none;
  color: black;
}


.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
  flex: 1;
}

/* Footer styles */
.footer {
  text-align: center;
  padding: 20px;
  background-color: #111B21;
}

.social-icons {
  display: flex;
  justify-content: center;
  gap: 50px;
}

.logo a {
  text-decoration: none;
  display: inline-block;
  background-color: white;
}

.logo-icon {
  color: black;
}

.logo-text {
  color: black;
}

a {
  color: white;
}

.icon {
  font-size: 24px;
}

body>.footer {
  margin-top: auto;
}


.buttons {
  margin-top: 20px;
  display: flex;
  gap: 10px;
}


.button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #0056b3;
}

input {
  color: #007bff;
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}


form {
  width: 100%;
  max-width: 400px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  
}

label {
  display: none;
}
.input-icon {
  position: relative;
  margin-bottom: 20px;
}

.input-icon input {
  padding-left: 40px;
}

.input-icon i {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  font-size: 20px;
  color: #aaa;
}

input {
  width: 100%;
  padding: 15px;
  border: none;
  background-color: #f5f5f5;
  font-size: 16px;
}

.input-icon.error {
  margin-bottom: 10px;
}

.input-icon.error input {
  border-color: red;
}

.input-icon.error i {
  color: red;
  top: 50%; 
}

.error-message {
  color: red;
  font-size: 14px;
  margin-top: 5px;
  bottom: -20px;
}


h1 {
  margin-top: 10px;
  margin-bottom: 20px;
  text-align: center;
}
