<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <span class="">
        <button class="x1rg5ohu xn6xy2s x1qx5ct2 xsgj6o6 xq22nx5 x16dsc37" aria-label="Sohbet bağlam menüsünü aç"
            aria-hidden="true" tabindex="0" style="width: 20px; opacity: 1;">
            <span data-icon="down" class="">
                <svg viewBox="0 0 19 20" height="20" width="19" preserveAspectRatio="xMidYMid meet" class=""
                    version="1.1" x="0px" y="0px">
                    <title>down</title>
                    <path fill="currentColor" d="M3.8,6.7l5.7,5.7l5.7-5.7l1.6,1.6l-7.3,7.2L2.2,8.3L3.8,6.7z"></path>
                </svg>
            </span>
        </button>
    </span>












    <span class="">
        <div tabindex="-1" class="_ak4w" role="application"
            style="transform-origin: left top; left: 863px; top: 78px; transform: scale(1); opacity: 1;">
            <ul class="_ak5b">
                <div>
                    <li tabindex="0" class="_aj-r _aj-q _aj-_" data-animate-dropdown-item="true" style="opacity: 1;">
                        <div class="_aj-z _aj-t _alxo" role="button" aria-label="Sohbeti arşivle" style="">Sohbeti
                            arşivle</div>
                    </li>
                    <li tabindex="0" class="_aj-r _aj-q _aj-_" data-animate-dropdown-item="true" style="opacity: 1;">
                        <div class="_aj-z _aj-t _alxo" role="button" aria-label="Bildirimleri sessize al" style="">
                            Bildirimleri sessize al</div>
                    </li>
                    <li tabindex="0" class="_aj-r _aj-q _aj-_" data-animate-dropdown-item="true" style="opacity: 1;">
                        <div class="_aj-z _aj-t _alxo" role="button" aria-label="Sohbeti sil" style="">Sohbeti sil</div>
                    </li>
                    <li tabindex="0" class="_aj-r _aj-q _aj-_" data-animate-dropdown-item="true" style="opacity: 1;">
                        <div class="_aj-z _aj-t _alxo" role="button" aria-label="Sohbetin Sabitlemesini Kaldır"
                            style="">Sohbetin Sabitlemesini Kaldır</div>
                    </li>
                    <li tabindex="0" class="_aj-r _aj-q _aj-_" data-animate-dropdown-item="true" style="opacity: 1;">
                        <div class="_aj-z _aj-t _alxo" role="button" aria-label="Okunmadı olarak işaretle" style="">
                            Okunmadı olarak işaretle</div>
                    </li>
                    <li tabindex="0" class="_aj-r _aj-q _aj-_" data-animate-dropdown-item="true" style="opacity: 1;">
                        <div class="_aj-z _aj-t _alxo" role="button" aria-label="Engelle" style="">Engelle</div>
                    </li>
                </div>
            </ul>
        </div>
    </span>
</body>

</html>