<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hover Effect</title>
    <style>
        .hover-div {
            width: 100px;
            height: 100px;
            background-color: #f0f0f0;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            border: 1px solid #ccc;
            text-align: center;
        }

        .hover-content {
            display: inline-block;
        }
    </style>
</head>

<body>
    <div class="chat-box">
        <div tabindex="-1" class aria-selected="false" role="row">
            <div class="chat cursor">
                <div class="chat-image">
                    <div class="chat-left-image">
                        <div>
                            <div class="image" style="height: 49px; width: 49px;">
                                <img src="static/image/img.jpeg" alt="" draggable="false" class="user-image"
                                    tabindex="-1" style="visibility: visible;">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="chat-info">
                    <div class="chat-name-and-last-message-time">
                        <div class="chat-name">
                            <div class="name">
                                <span dir="auto" title="${chat.friendEmail}" aria-label="" class="name-span"
                                    style="min-height: 0px;">${chat.friendEmail}</span>
                            </div>
                        </div>
                    </div>
                    <div class="last-message">
                        <div class="message">
                            <span class="message-span" title="">
                                <span dir="ltr" aria-label class="message-span-span"
                                    style="min-height: 0px;">${chat.lastMessage}</span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>