<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resizable Div</title>
    <style>
        #myDiv {
            height: 1300px;
            background-color: lightblue;
            border: 1px solid black;
            overflow: auto;
            /* Bu, div içeriği aşırı büyüdüğünde kaydırma çubuğunu gösterir */
        }
    </style>
</head>

<body>
    <div class="modal1">
        <div tabindex="-1" class>
            <div class="deneme" id="customModal" class="modal1-1" tabindex="-1" data-backdrop="static" data-keyboard="false">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header" style="${headerStyle}">
                            ${titleContent}

                        </div>
                        <div class="modal-body">
                            ${content}
                        </div>
                        <div class="modal-footer" style="${footerStyle}">
                            <button type="button" class="cancel-btn" id="modalCancelButton">İptal</button>
                            <button type="button" class="confirmation-btn" id="modalOkButton">${buttonText}</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <span class="">
        <div tabindex="-1" class="_ak4w" role="application"
            style="transform-origin: left top; left: 868px; top: 276.484px; transform: scale(1); opacity: 1;">
            <ul class="_ak5b">
                <div>
                    <li tabindex="0" class="_aj-r _aj-q _aj-_" data-animate-dropdown-item="true" style="opacity: 1;">
                        <div class="_aj-z _aj-t _alxo" role="button" aria-label="Sohbeti arşivle" style="">Sohbeti
                            arşivle</div>
                    </li>
                    <li tabindex="0" class="_aj-r _aj-q _aj-_" data-animate-dropdown-item="true" style="opacity: 1;">
                        <div class="_aj-z _aj-t _alxo" role="button" aria-label="Bildirimleri sessize al" style="">
                            Bildirimleri sessize al</div>
                    </li>
                    <li tabindex="0" class="_aj-r _aj-q _aj-_" data-animate-dropdown-item="true" style="opacity: 1;">
                        <div class="_aj-z _aj-t _alxo" role="button" aria-label="Sohbeti sil" style="">Sohbeti sil</div>
                    </li>
                    <li tabindex="0" class="_aj-r _aj-q _aj-_" data-animate-dropdown-item="true" style="opacity: 1;">
                        <div class="_aj-z _aj-t _alxo" role="button" aria-label="Sohbetin Sabitlemesini Kaldır"
                            style="">Sohbetin Sabitlemesini Kaldır</div>
                    </li>
                    <li tabindex="0" class="_aj-r _aj-q _aj-_" data-animate-dropdown-item="true" style="opacity: 1;">
                        <div class="_aj-z _aj-t _alxo" role="button" aria-label="Okunmadı olarak işaretle" style="">
                            Okunmadı olarak işaretle</div>
                    </li>
                    <li tabindex="0" class="_aj-r _aj-q _aj-_" data-animate-dropdown-item="true" style="opacity: 1;">
                        <div class="_aj-z _aj-t _alxo" role="button" aria-label="Engelle" style="">Engelle</div>
                    </li>
                </div>
            </ul>
        </div>
    </span>

</body>

</html>