<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resizable Div</title>
    <style>
        #myDiv {
            height: 1300px;
            background-color: lightblue;
            border: 1px solid black;
            overflow: auto;
            /* Bu, div içeriği aşırı büyüdüğünde kaydırma çubuğunu gösterir */
        }
    </style>
</head>

<body>

    <div class="_ak8j">
        <div class="_ak8k"><span class="x78zum5 x1cy8zhl" title="‪Sana yapmak istedigimmmm‬">
                <div class="x78zum5 x1okw0bk x16dsc37 x1xp8n7a xl56j7k x1q15gih xfs2ol5"><span
                        data-icon="status-dblcheck" class=""><svg viewBox="0 0 18 18" height="18" width="18"
                            preserveAspectRatio="xMidYMid meet" class="" version="1.1" x="0px" y="0px"
                            enable-background="new 0 0 18 18">
                            <title>status-dblcheck</title>
                            <path fill="currentColor"
                                d="M17.394,5.035l-0.57-0.444c-0.188-0.147-0.462-0.113-0.609,0.076l-6.39,8.198 c-0.147,0.188-0.406,0.206-0.577,0.039l-0.427-0.388c-0.171-0.167-0.431-0.15-0.578,0.038L7.792,13.13 c-0.147,0.188-0.128,0.478,0.043,0.645l1.575,1.51c0.171,0.167,0.43,0.149,0.577-0.039l7.483-9.602 C17.616,5.456,17.582,5.182,17.394,5.035z M12.502,5.035l-0.57-0.444c-0.188-0.147-0.462-0.113-0.609,0.076l-6.39,8.198 c-0.147,0.188-0.406,0.206-0.577,0.039l-2.614-2.556c-0.171-0.167-0.447-0.164-0.614,0.007l-0.505,0.516 c-0.167,0.171-0.164,0.447,0.007,0.614l3.887,3.8c0.171,0.167,0.43,0.149,0.577-0.039l7.483-9.602 C12.724,5.456,12.69,5.182,12.502,5.035z">
                            </path>
                        </svg></span></div><span dir="ltr" aria-label=""
                    class="x1iyjqo2 x6ikm8r x10wlt62 x1n2onr6 xlyipyv xuxw1ft x1rg5ohu _ao3e"
                    style="min-height: 0px;">Sana yapmak istedigimmmm</span>
            </span></div>
        <div role="gridcell" aria-colindex="1" class="_ak8i"><span class="">
                <div class="_ahlk _ahll"><span data-icon="pinned2" class=""><svg height="15" width="13"
                            preserveAspectRatio="xMidYMid meet" class="">
                            <title>pinned2</title>
                            <path fill="currentColor"
                                d="M12.074 4.21 8.7 8.232l.116 4.233a.4.4 0 0 1-.657.318L.43 6.297a.4.4 0 0 1 .199-.702l4.196-.622L8.196.957a.63.63 0 0 1 .887-.078l2.914 2.445a.63.63 0 0 1 .077.887ZM1.294 14.229a.713.713 0 0 1-1.09-.915l2.674-3.64 1.536 1.288-3.12 3.267Z">
                            </path>
                        </svg></span></div>
            </span><span class=""></span><span class=""></span></div>
    </div>

</body>

</html>