<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Resizable Div</title>
<style>
    #myDiv {
        height: 1300px;
        background-color: lightblue;
        border: 1px solid black;
        overflow: auto; /* Bu, div içeriği aşırı büyüdüğünde kaydırma çubuğunu gösterir */
    }
</style>
</head>
<body>

<div id="myDiv"></div>

<script>
    window.addEventListener('resize', function() {
        var div = document.getElementById('myDiv');
        var windowHeight = window.innerHeight;
        console.log("YUKSEKLIK > ", windowHeight)
        if (windowHeight <= 512) {
            div.style.height = '512px';
        } else {
            div.style.height = windowHeight + 'px';
        }
    });
</script>

</body>
</html>
