<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="chat-container scrollbar">
        <div class="left-side">
            <header class="chat-list-haeder">
                <div class="user-photo">
                    <div class="user-profile-photo" role="button" style="height: 40px; width: 40px; cursor: pointer;">
                        <img class="user-image" tabindex="0" src="/static/image/default-user-profile-photo.png"
                            alt="Varsayılan Fotoğraf" id="profilePhoto" />
                    </div>
                </div>
                <div class="options-div">
                    <div class="options">
                        <div class="fa-solid fa-user-group friend-list option" tabindex="0" role="button"></div>
                        <div class="fa-solid fa-plus add-friends option" tabindex="0" role="button"></div>
                        <div class="fa-solid fa-check friend-approval option" tabindex="0" role="button"></div>
                        <div class="fa-solid fa-message chatt option" tabindex="0" role="button"></div>
                        <div class="fa-solid fa-gear settings option" tabindex="0" role="button"></div>
                    </div>
                </div>
            </header>
            <div class="chat-content">
                <div class="search-bar">
                    <input type="text" class="search-input" placeholder="Sobhet arayın">
                    <button class="search-button"><i class="fas fa-search"></i></button>
                </div>
                <div class="chat-list">
                    <div class="chat">
                        <div class="chat-friend-photo"></div>
                        <div class="chat-data">
                            <div class="name-and-date">
                                <div class="chat-friend-name">NAME</div>
                                <div class="chat-last-message-date">DATE</div>
                            </div>
                            <div class="chat-friend-last-message">MESSAGE</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="right-side" id="chatWindow">
            <header class="chat-window-haeder">
                <div class="friend-photo">
                    <div class="friend-profile-photo" role="button" style="height: 40px; width: 40px; cursor: pointer;">
                        <img class="user-image" tabindex="0" src="/static/image/default-user-profile-photo.png"
                            alt="Varsayılan Fotoğraf" id="profilePhoto" />
                    </div>
                </div>
                <div class="friend-detail"></div>
                <div class="fa-solid fa-gear settings option" tabindex="0" role="button"></div>
            </header>
        </div>
    </div>

</body>

</html>